.menu-main{
  padding-top: 35px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.menu-container {
  width: 100%;
  background-color: #47817E;
}

h2, p {
  margin: 0;
}

h2 {
  margin-bottom: 5px;
}

.pick-zip{
  width: 100%;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  justify-content: center;
  background-color: #5ABAB7;
  opacity: .90;
}

.zip-button:hover {
  color: transparent;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
  transition: 500ms ease;
}

.collapsible {
  background-color: #5ABAB7;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.active, .collapsible:hover {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #C0FCF9;
}

.zip-button {
  width: 80%;
}

@media screen and (max-width: 400px ) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .menu-main {
    width: 100%;
  }
  .pick-zip {
    display: none;
  }

  .collapsible {
    text-align: center;
  }
}

@media screen and (max-width: 800px ) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-main {
    width: 400px;
  }
}