.events-container {
  padding: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.no-events-message {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color:rgb(210, 146, 239);
  opacity: .80;
  border: 2px solid black;
  p {
    text-align: center;
  }
}

@media screen and (max-width: 900px ) {
  .events-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 900px ) {
  .events-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px ) {
  .events-container {
    grid-template-columns: repeat(3, 1fr);
  }
}